@import '~bootstrap/scss/bootstrap';

.box{
    align-items: center;
    display: flex;
    height: 150px;
    justify-content: center;
}

.box-top{
    border-bottom: 1px solid black;
}

.box-middle{
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.box-bottom{
    border-top: 1px solid black;
}

#game-board{
    display: none;
}
